# Simple line regression

In [4]:
import pandas as pd 

df=pd.DataFrame({"year": [1,3,5,7,10], "Salary": [10000,30000,50000,70000,100000]})
df

   year  Salary
0     1   10000
1     3   30000
2     5   50000
3     7   70000
4    10  100000

In [6]:
x=df['year']
y=df['Salary']
y

0     10000
1     30000
2     50000
3     70000
4    100000
Name: Salary, dtype: int64